<mat-card class="film-card">
  <img mat-card-image [alt]="film().title" [src]="film().image" />
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>{{ film().title }}</mat-card-title>
      <mat-card-subtitle>
        {{ film().releaseDate }}
      </mat-card-subtitle>
    </mat-card-title-group>
  </mat-card-header>

  <mat-card-content>
    <p>{{ film().description }}</p>
    <p><strong>{{ 'card.director' | translate }}:</strong> {{ film().director }}</p>
    <p><strong>{{ 'card.producer' | translate }}:</strong> {{ film().producer }}</p>
    <p><strong>{{ 'card.score' | translate }}:</strong> {{ film().rtScore }}</p>
  </mat-card-content>

  <mat-card-actions>
    <button mat-button color="accent" (click)="openImageInNewTab()">
      {{ 'card.view-image' | translate }}
    </button>

    <button mat-button color="warn" (click)="shareFilmUrl()">
      {{ 'card.share-resource' | translate }}
    </button>
  </mat-card-actions>
</mat-card>
